.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../component/asets/cocina3.png'); 
  background-size: cover;
  background-position: center; 

}
.card label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
  font-size: 18px;
}


.recipeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 600px;
}

.recipeImage {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.recipeInfo {
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
    color: white;
}

p {
  font-size: 14px;
  margin: 5px 0;
  color: beige;

}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;

}

ol {
  text-align: left;
  margin-bottom: 10px;
  color: white;

}
ul {
  text-align: left;
  margin-bottom: 10px;
  color: white;

}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

button:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .recipeCard {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .recipeCard {
    padding: 10px;
  }
  
  .recipeImage {
    max-height: 200px;
  }
}