.form {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo sombreado transparente */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra de fondo */
  width: 100%; /* Ocupar todo el ancho del contenedor padre */
  max-width: 800px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centrar el formulario horizontalmente */
}

@media screen and (max-width: 600px) {
  .form {
    max-width: 100%; /* Cambiar el ancho máximo para pantallas más pequeñas */
  }
}