.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 100%;
  padding-left: 150px;
  padding-top: 30px;
}


.item {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .item {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (max-width: 800px) {
  .item {
    flex-basis: calc(100% - 20px);
  }
}